* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  background-color: var(--background);
}
a,
p,
span,
li,
button {
  font-size: 1.1rem;
}
button {
  cursor: pointer;
}

:root {
  --primary: #3b4550;
  --primary-dark: #0f2b45;
  --primary-hover: #0d5ba8;
  --primary-light: #1173d4;
  --background: #101922;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --text-muted: #64748b;
  --border: rgba(255, 255, 255, 0.1);
  --card-bg: #1e293b;
  --shadow: rgba(0, 0, 0, 0.3);
  --input-bg: #1e293b;
  --hsla-example: hsla(210, 100%, 56%, 1);
  --secondary-dark: #1b3759;
}
