.navbar {
  display: flex;
  gap: 1rem;
}
.navbar__link {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  padding: 1rem;
  transition: color 0.2s ease-in-out;
}
.navbar__link:hover {
  color: var(--primary-light);
}
