.banner {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1rem;
  background-image:
    linear-gradient(rgba(16, 25, 34, 0.7), rgba(16, 25, 34, 0.9)),
    url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=2070&amp;q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
}

.banner__title {
  font-size: 5rem;
  font-weight: 800;
  color: var(--text-primary);
  background-color: transparent;
}
.banner__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-secondary);
  background-color: transparent;
}
