.cards {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1rem;
  height: 60vh;
  width: 100%;
  margin: 8rem 0 8rem 0;
}
.cards__title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--text-primary);
  background-color: transparent;
}
.cards__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 60rem;
  place-self: center;
  color: var(--text-secondary);
  filter: brightness(0.8);
  background-color: transparent;
}
.cards__container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}
