.searchbar {
  background-color: var(--input-bg);
  margin-top: 3rem;
  border-radius: 0.5rem;
  width: 70%;
  padding: 0.25rem 0.75rem;
  justify-content: space-between;
  place-self: center;
  display: flex;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.5rem var(--shadow);
}
.searchbar__icon {
  background: transparent;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.5rem 1.25rem 0.5rem 0.5rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(84%) saturate(1065%)
    hue-rotate(176deg) brightness(94%) contrast(87%);
}
.searchbar__input {
  border: none;
  background: transparent;
  color: var(--text-secondary);
  font-size: 1.1rem;
  width: 100%;
  height: 3rem;

  &::placeholder {
    color: var(--text-muted);
  }
  &:focus {
    outline: none;
  }
}
.searchbar__button {
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  font-weight: 600;
  background-color: var(--primary-light);
  border: 0.15rem solid var(--primary-light);
  color: var(--text-primary);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: transparent;
    color: var(--primary-light);
  }
}
